<div [class.left]="position === 'normal'" [class.right]="position === 'inverse'" class="header-container">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" class="navigation" href="#"><i class="nb-menu"></i></a>
    <div (click)="goToHome()" class="logo">ros-<span>telepresence</span></div>
  </div>
</div>

<div class="header-container">
  <ng-template *ngIf="isGamepadConnected;then gamepad_connected else gamepad_disconnected"></ng-template>
  <ng-template #gamepad_connected>
    <i nbTooltip="Gamepad verbunden!" nbTooltipPlacement="left" nbTooltipStatus="success" class="gamepad-indicator gamepad-indicator--connected fas fa-gamepad"></i>
  </ng-template>
  <ng-template #gamepad_disconnected>
    <i nbTooltip="Gamepad nicht verbunden!" nbTooltipPlacement="left" nbTooltipStatus="danger" class="gamepad-indicator gamepad-indicator--disconnected fas fa-gamepad"></i>
  </ng-template>

  <ng-template *ngIf="isConnected;then connected else disconnected"></ng-template>
  <ng-template #connected>
    <i nbTooltip="Client verbunden!" nbTooltipPlacement="left" nbTooltipStatus="success" class="connection-indicator connection-indicator--connected fas fa-plug"></i>
  </ng-template>
  <ng-template #disconnected>
    <i nbTooltip="Client nicht verbunden!" nbTooltipPlacement="left" nbTooltipStatus="danger" class="connection-indicator connection-indicator--disconnected fas fa-plug"></i>
  </ng-template>

</div>
