<div [class.left]="position === 'normal'" [class.right]="position === 'inverse'" class="header-container">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" class="navigation" href="#"><i class="nb-menu"></i></a>
    <div (click)="goToHome()" class="logo">ros-<span>telepresence</span></div>
  </div>
</div>

<div class="header-container">
  <ng-template *ngIf="isConnected;then content else other_content"></ng-template>
  <ng-template #content>
    <i nbTooltip="Client verbunden!" nbTooltipPlacement="left" nbTooltipStatus="success" class="connection-indicator connection-indicator--connected fas fa-plug"></i>
  </ng-template>
  <ng-template #other_content>
    <i nbTooltip="Client nicht verbunden!" nbTooltipPlacement="left" nbTooltipStatus="danger" class="connection-indicator connection-indicator--disconnected fas fa-plug"></i>
  </ng-template>
</div>
