<nb-card [size]="size">
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">{{ title }}</span>
      <span class="cameras-filter">
        <ng-content select="ngx-card-header-button,[headerButtons]"></ng-content>
      </span>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng-template *ngIf="error;then errorContent else content"></ng-template>

    <ng-template #content>
      <ng-content></ng-content>
    </ng-template>

    <ng-template #errorContent>
      <div class="error-container">
        <div class="error">
          <div class="error-header">
            <i class="nb-alert"></i>
            <h2>Fehler</h2>
          </div>
          <div class="error-body">
            <h4>{{ error.message }}</h4>
            <h5>Bitte erneut versuchen.</h5>
          </div>
        </div>
      </div>
    </ng-template>

    <ngx-loading [show]="isLoading && !error"></ngx-loading>
  </nb-card-body>
  <nb-card-footer [class.hidden]="!hasFooter">
    <ng-content select="[footer]"></ng-content>
  </nb-card-footer>
</nb-card>
