<nb-card size="large">
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">Kamera</span>
      <span class="cameras-filter">
        <a (click)="isSingleView = true" [class.active]="isSingleView">
          <i class="nb-square"></i>
        </a>
        <a (click)="isSingleView = false" [class.active]="!isSingleView">
          <i class="nb-grid-a"></i>
        </a>
      </span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="cameras">
      <ng-template #cameraContainer></ng-template>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <nb-actions fullWidth size="medium">
      <nb-action>
        <i class="nb-pause-outline" (click)="stopVideo()"></i><span>Search</span>
      </nb-action>
      <nb-action>
        <i class="nb-list"></i><span>Logs</span>
      </nb-action>
      <nb-action>
        <i class="nb-search"></i><span>Search</span>
      </nb-action>
      <nb-action>
        <i class="nb-gear"></i><span>Setup</span>
      </nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>

<div class="hidden">
  <div id="remoteVideos"></div>
  <video id="localVideo" #localVideo></video>
</div>

<ng-template #template let-name='name'>
  <div class="camera" (click)="selectCamera(name)"
       [ngClass]="{'camera--single': isSingleView && selectedCamera !== name, 'camera--single-selected': isSingleView && selectedCamera === name}">
    <span>{{ name }}</span>
  </div>
</ng-template>
