<nb-card size="large">
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">Kamera</span>
      <span class="cameras-filter">
        <a (click)="isSingleView = true" [class.active]="isSingleView">
          <i class="nb-square"></i>
        </a>
        <a (click)="isSingleView = false" [class.active]="!isSingleView">
          <i class="nb-grid-a"></i>
        </a>
      </span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="cameras">
      <ng-template #cameraContainer></ng-template>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <nb-actions fullWidth size="medium">
      <nb-action (click)="toggleAudioVideoStream()" *ngIf="!isSingleView || selectedCamera === localVideoName">
        <ng-template *ngIf="videoIsPaused;then resumeContent else pauseContent"></ng-template>
        <ng-template #resumeContent><i class="nb-play-outline"></i><span>Fortsetzen</span></ng-template>
        <ng-template #pauseContent><i class="nb-pause-outline"></i><span>Pause</span></ng-template>
      </nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>

<div class="hidden">
  <div id="remoteVideos"></div>
  <video id="localVideo" #localVideo></video>
</div>

<ng-template #template let-name='name'>
  <div class="camera" (click)="selectCamera(name)"
       [ngClass]="{'camera--single': isSingleView && selectedCamera !== name, 'camera--single-selected': isSingleView && selectedCamera === name, 'camera--self-paused': name === localVideoName && videoIsPaused}">
    <span>{{ name }}</span>
  </div>
</ng-template>
