<h1>Topics</h1>
<table style="width:100%">
  <tr>
    <th>Topic</th>
    <th>Type</th>
  </tr>
  <tr *ngFor="let item of topics">
    <td>{{item.name}}</td>
    <td>{{item.type | async}}</td>
  </tr>
</table>

<h1>Nodes</h1>
<table style="width:100%">
  <tr>
    <th>Node</th>
  </tr>
  <tr *ngFor="let item of nodes">
    <td>{{item}}</td>
  </tr>
</table>

<h1>Services</h1>
<table style="width:100%">
  <tr>
    <th>Service</th>
    <th>Request-Type</th>
    <th>Response-Type</th>
  </tr>
  <tr *ngFor="let item of services">
    <td>{{item}}</td>
    <td></td>
    <td></td>
  </tr>
</table>

<h1>Parameters</h1>
<table style="width:100%">
  <tr>
    <th>Parameter</th>
    <th>Value</th>
  </tr>
  <tr *ngFor="let item of params">
    <td>{{item.name}}</td>
    <td>{{item.type | async}}</td>
  </tr>
</table>

<router-outlet></router-outlet>