// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (cosmic);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  font-main: Roboto,
  font-secondary: Exo,
  switcher-background: #4e41a5,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#a258fe, #7958fa),
  list-item-border-width: 1px,
  slide-out-container-width: 30%,
  slide-out-background: radial-gradient(circle, #302c6e 0%, #423f8c 100%),
  slide-out-shadow-color: 2px 0 3px rgba(19, 19, 94, 0.9),
  slide-out-shadow-color-rtl: -2px 0 3px rgba(19, 19, 94, 0.9),
  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: rgba(0, 0, 0, 0.1),
  chart-panel-summary-border-color: #332e73,
  chart-panel-summary-border-width: 1px,
  ecommerce-card-border-width: 1px,
  progress-bar-background: linear-gradient(90deg, #00c7c7 0%, #00d977 100%),
), cosmic, cosmic);
