#topicCard ::ng-deep nb-card-body {
    padding: 0;
    background-color: white;
}


:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 500px;
}
