<ngx-card title="Kamera">
  <ng-container headerButtons>
    <ngx-card-header-button icon="nb-square" [isActive]="isSingleView" (click)="isSingleView = true"></ngx-card-header-button>
    <ngx-card-header-button icon="nb-grid-a" [isActive]="!isSingleView" (click)="isSingleView = false"></ngx-card-header-button>
  </ng-container>

  <div class="cameras">
    <ng-template #cameraContainer></ng-template>
  </div>

  <ng-container footer>
    <nb-actions fullWidth size="medium">
      <nb-action (click)="toggleAudioVideoStream()" *ngIf="!isSingleView || selectedCamera === localVideoName">
        <ng-template *ngIf="videoIsPaused;then resumeContent else pauseContent"></ng-template>
        <ng-template #resumeContent>
          <i class="nb-play-outline"></i><span>Fortsetzen</span>
        </ng-template>
        <ng-template #pauseContent>
          <i class="nb-pause-outline"></i><span>Pause</span>
        </ng-template>
      </nb-action>
    </nb-actions>
  </ng-container>
</ngx-card>

<div class="hidden">
  <div id="remoteVideos"></div>
  <video id="localVideo" #localVideo></video>
</div>

<ng-template #template let-name='name'>
  <div class="camera" (click)="selectCamera(name)"
       [ngClass]="{
          'camera--single': isSingleView && selectedCamera !== name,
          'camera--single-selected': isSingleView && selectedCamera === name,
          'camera--self-paused': name === localVideoName && videoIsPaused,
          'camera--self-unavailable': name === localVideoName && !isLocalReady,
          'camera--remote-unavailable': name === remoteVideoName && !isRemoteReady
       }">
    <span>{{ name }}</span>
  </div>
</ng-template>
