<span class="arrow"></span>
<nb-card>
  <nb-card-header>Map Optionen</nb-card-header>
  <nb-card-body>
    <form class="form-horizontal" [formGroup]="settingsForm" #form="ngForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Limit:</label>
        <input nbInput fullWidth fieldSize="small" type="number" formControlName="pointLimit" id="exampleInputEmail1"
               aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Hilft bei schlechter Performance 0=unbegrenzt.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Größe:</label>
        <input nbInput fullWidth fieldSize="small" type="number" formControlName="pointSize" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label>Form:</label>
        <nb-radio-group formControlName="pointShape">
          <nb-radio value="square">Eckig</nb-radio>
          <nb-radio value="round">Rund</nb-radio>
        </nb-radio-group>
      </div>
      <div class="form-group">
        <nb-checkbox formControlName="isColorful">Farbig</nb-checkbox>
      </div>

      <button nbButton fullWidth type="submit">Speichern</button>
    </form>
  </nb-card-body>
</nb-card>
