<div class="row">

  <div class="col-12">
    <ngx-video></ngx-video>
  </div>

  <div class="col-6 col-lg-3">
    <ngx-battery title="12V Batterie" [chartValue]="v12Percentage"></ngx-battery>
  </div>

  <div class="col-6 col-lg-3">
    <ngx-battery title="24V Batterie" [chartValue]="v24Percentage"></ngx-battery>
  </div>

  <div class="col-6 col-lg-6">
      <ngx-supersonic-sensor></ngx-supersonic-sensor>
    </div>

  <div class="col-12">
    <ngx-point-cloud></ngx-point-cloud>
  </div>

</div>
