// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...
// global app font size
@import 'font-size';
// loading progress bar theme
@import 'pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

}

// attribute is added after global nebula spinner completes
html[dir] {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: nb-theme(scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  //border-radius: 10px;
  background-color: nb-theme(scrollbar-fg);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  //border-radius: 10px;
  background-color: nb-theme(scrollbar-bg);
}
